/* Table Style */
table {
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 15px;
    min-width: 160px;
}

/* Alternate td */
.compressed {
    padding-top: 5px;
    padding-bottom: 5px;
}

th {
    text-align: left;
    background-color: #00a5ed;
}

tr:hover {
    background-color: #85cdf3;
}

table#dataTable tr {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#dataTable {
    width: 100%;
}

/* Misc */
#title {
    text-align: center;
}

body {
    background-color: #ddd;
}

/* Control Buttons */
#controls {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

div#controls button {
    background-color: #008CBA; 
    padding: 7px;
    border: none;
    color: white;
    font-size: 12px;
}

div#controls button:hover {
    background-color: #0BACCB;
    box-shadow: 3px 3px 5px grey;
    cursor: pointer;
}

#start, #stop {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: -2px;
}

#compress, #decompress {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -2px;
    border-left: 1px solid black !important;
}

/* Live Data Indicator */
#live {
    color: red;
    float: right;
    display: inline;
    margin-top: -30px;
    margin-right: 20px;
    margin-bottom: 0px;
}

/* Error class */
.error {
    color: red;
    text-align: center;
}
