
/* General Style */
body {
    background-color: #ddd;
    font-family: Helvetica;
}

/* Boxes */
.box {
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    width: 30%;
    text-align: center;
    background-color: white;
    min-height: 160px;
    vertical-align: top;
    color: black;
}

div.box h3 {
    margin: -5px -5px 5px -5px;
    background-color: #777;
    padding: 10px;
    border-radius: 2px;
}

div.box p {
    margin: 12px;
}

div.box button {
    margin: 4px 9px -3px 9px;
    font-size: 16px;
    padding: 2px 10px 2px 10px;
    background-color: #00a5ed;
    border-radius: 5px;
}

/* Top Banner / Title */
#banner {
    background-color: #00a5ed;
    padding: 10px;
    margin-top: -8px;
    margin-right: -8px;
    margin-left: -8px;
    text-align: center;
    margin-bottom: 10px;
}

#title {
    padding-right: 100px;
}

/* Console / Error Report Box */
#dumpDiv {
    margin-top: 14%;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    min-height: 200px;
}

#dump {
    padding: 10px;
    vertical-align: top;
    margin: 0px;
}

/* Fancy Menu in the banner */
#dropdown { 
    margin-left: 5px; 
    float: left;
    text-align: left;

}

div#dropdown img {
    float: left;
    height: 100px;
    margin-top: -10px;
}

#dropdownContent {
    display: none;
}

div#dropdownContent a {
    color: black;
    text-decoration: none;
    padding: 8px;
    padding-left: 16px;
    display: block;
}

div#dropdownContent a:hover {
    color: black;
    background-color: #ddd;
}

#dropdown:hover #dropdownContent {
    display: block;
    margin-top: 90px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
